---
---

@import "variables";

body {
    font-family: Arial, sans-serif;
    background-color: $background-light;
    color: $text-dark;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1 0 auto;
    max-width: 960px;
    margin: auto;
    padding: 88px;
    display: flex;
    flex-direction: column;
}


h1 {
    font-family: "new-kansas", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 84pt;
}

h2 {
    font-family: "new-kansas", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24pt;
    opacity: 0.8;
}

h3 {
    font-family: "input-mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    opacity: 0.8;
}

a {
    color: $text-dark;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h1#company-name {
    margin: 20px 0;
    line-height: 0.93em;
}

h2#company-tagline {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 4px; /* 'G' of Grow Pixel has a lot of kerning  */
}

h2 span#just-a-guy {
    font-size: 16pt;
    opacity: 0.5;
}

.content {
    margin-top: 60px;
}

div.column h3 {
    opacity: 0.8;
}

div.column h3:not(:first-child) {
    margin-top: 30px;
}

ul.projects li a {
    font-family: "new-kansas", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24pt;
    vertical-align: middle;
}

ul.projects li.project {
    margin: 14px 0;
}

ul.projects li.project::before {
    content: "";
    display: inline-block;
    width: 44px;
    height: 44px;
    background-size: cover;
    margin-right: 14px;
    vertical-align: middle;
}

ul.projects li.project-blackbox::before {
    background-image: url('/assets/img/blackbox.png');
}

ul.projects li.project-skylight::before {
    background-image: url('/assets/img/skylight.png');
}

ul.projects li.project-gravity::before {
    background-image: url('/assets/img/gravity.png');
}

ul.contact-options li a {
    font-family: "new-kansas", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24pt;
}

.spacer {
    flex-grow: 1;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 2;
}

.column {
    flex: 1;
    padding: 20px;
}


.column.content-primary {
    flex: 0 0 70%;
}


.column.content-secondary {
    flex: 0 0 30%;
}

.projects li a {
    font-size: 48pt;
}

.column-leading {
    padding-left: 0;
}

.column-trailing {
    padding-right: 0;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    font-family: "input-mono", monospace;
    font-weight: 100;
    font-style: normal;
    font-size: 8pt;
}


@media (max-width: 900px) {
    
    .content {
        margin-top: 0px;
    }

    .columns {
        flex-direction: column;
    }

    .column-leading,
    .column-trailing {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 600px) {

    .container {
        padding: 44px;
    }

    h1 {
        font-size: 58pt;
    }

    h2 {
        font-size: 18pt;
    }

    h3 {
        font-size: 12pt;
    }

    .column a {
        font-size: 24pt;
    }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $background-dark;
    color: $text-light;
  }

  a {
    color: $text-light;
  }
}