<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/ked6kvn.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    <div class="container">
        {{ content }}
    </div>
    <div class="footer">
        <p>Made in California & the Netherlands</p>
    </div>
    <script src="/assets/js/main.js"></script>
</body>
</html>
